.tab-container{
    margin-top:30px;
    display: flex;
    justify-content: center;
}
.tab-container p{
    width: 100px;
    margin: auto 5px;
    text-align: center;
}
.c-w-category{
    color: #e32e00;
    border-bottom: 1px solid #e32e00;
}
.tab-container p:hover{
    color: #e32e00;
    border-bottom: 1px solid #e32e00;
}