.man-discount-container{
    background-image: url('https://cdn.shopify.com/s/files/1/2617/9878/files/avenue-clothing-shopify-theme_d0f4aa37-d4a7-4c4e-9aa9-f58c5f2aec66_1600x.jpg?v=1623795476');
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    background-blend-mode: multiply;
    background-position: right;
}
@media screen and (max-width: 768px) {
    .man-discount-container{
        background-position: center;
        text-align: center;
    }
}