@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navigation-container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #ffffff;
}
.logo img{
    width: 120px;
    height: 80px;
}
.nav-links{
    display: flex;
}
.nav-links li .nab-dropdown{
    background: #e32e00;
    display: none;
    position: absolute;
    z-index: 999;
    border-radius: 10px;
    padding: 5px;
}
.nab-dropdown li a{
    display: block;
    padding: 5px 10px;
    transition: .3s;
}
.nab-dropdown li a:hover{
    color: #ffffff;
    transform: translate(5px);
    transition: .3s;
}
.nav-links li:hover .nab-dropdown{
    display: block;
}
.nav-links a{
    text-decoration: none;
    color: #ffffff;
}
.nav-links li{
    list-style: none;
    padding: 0 20px;
}
.nav-links li:hover{
    color: #e32e00;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #6b6f81;
    margin: 4px;
    transition: all 0.3s ease;
}
.responsive-nav-container{
    color: #6b6f81;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.topNab-search2{
    display: none;
}
.mobile,.responsive-nav-menu {
    display: none;
}
.header{
    border-bottom: 1px solid gainsboro;
}
.mobile-nav-right-part{
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.cart-mobile-dropdown{
    background: #ffffff;
    display: none;
    width: 90vw;
    height: 400px;
    position: absolute;
    right: 5%;
    z-index: 999;
    border-radius: 5px;
    padding:10px 0px;
    box-sizing: border-box;
    }

@media  screen and (max-width: 768px) {
    .navigation-container{
        justify-content: center;
    }
    .burger{
        display: block;
        cursor: pointer;
        right: 0;
    }
    .nav-links{
        display: none;
    }
    .topNab-search2{
        display: block;
    }
    .mobile {
        display: block;
    }
    .active-nav{
        display: block;
        background-color: rgb(207, 207, 207);
        padding: 5px 15px;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,5px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-5px);
    }
    .cart-active{
        display: block;
    }

}
